

.wrapper {

    width: 100%;
    max-height: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: visible;
    position: relative;
}

.buttonContainer {
    color: var(--fabric-color-tertiary);
    height: 100%;

    border-radius: 5px;
    transition: 150ms ease-in-out;
    padding: 4px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.submitButton{
    height: 100%;
    border-radius: 5px;
    transition: 150ms ease-in-out;
    padding: 8px 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.divider{
    width: 1px;
    height: 75%;
    background: var(--fabric-border-primary);
}


.header {
    transition: 250ms ease-in;



    position: sticky;
    font-family: "Roboto";
    top: 0;
    z-index: 50;
    background: var(--fabric-background-primary);
    height: fit-content;

    display: grid;
    gap: 4px;

    border: var(--fabric-border-primary) 1px solid;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.05rem;
    font-weight: 600;

    color: var(--fabric-color-secondary);
    margin-bottom: 16px;
}

.headerContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.content {
    padding-bottom: 100px;
    display: grid;
    gap: 8px;
}

.buttons {
    padding: 8px 0 0 0;
    border-top: var(--fabric-border-primary) 1px solid;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center
}
