.wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.3rem;
   font-weight: 550;
   padding: 0 4px;
   color: var(--fabric-color-primary);
   margin-bottom: 8px;
}
