@import "../../misc/theme/styles.module.css";

.wrapper {
    display: grid;
    gap: 4px;
    position: relative;
    overflow: visible;
}


.selectContainer {
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;


    box-shadow: unset;
    transition: 150ms linear;
    background: var(--mfc-background-primary);
    width: 100%;
    outline: none;
    padding: 5px;

    cursor: pointer;

    border-radius: 5px;
}

.selectContainer:disabled {
    border-color: var(--mfc-border-primary);
    cursor: default;
    color: var(--mfc-color-quinary);
}

.dropDownContainer {
    display: grid;
}

.dropDownChoicesContainer {
    background-color: var(--mfc-background-primary);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    width: 100%;
    max-height: 200px;
    height: fit-content;
    overflow: auto;

}

.dropDownButton {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 600;
    font-family: "Roboto";
    font-size: .75rem;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.multiSelectRow {
    display: flex;
    user-select: none;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    background: var(--mfc-background-primary);
    gap: 8px;
}

.multiSelectRowContent {
    user-select: none;
    color: var(--mfc-color-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: 600;
    font-family: "Roboto";
    font-size: .8rem;
}

.multiSelectRowCheckbox {
    cursor: pointer;
}
