.wrapper {
   border-radius: 5px;

   background: var(--fabric-background-primary);
   border: var(--fabric-border-primary) 1px solid;
   display: flex;
   overflow: hidden;
}

.wrapper[data-card = 'false'] {
   max-width: 100%;
   max-height: 55px;

}

.wrapper[data-card = 'true'] {

   flex-direction: column;
   width: fit-content;
}

.row {
   overflow: hidden;
   padding: 6px;
   font-size: .8rem;
   height: fit-content;

   font-weight: 550;
   color: var(--fabric-color-tertiary);

   cursor: inherit;
   width: 100%;

   display: grid;

   gap: 4px;
   max-height: inherit;
}

.footer {
   cursor: inherit;
   font-size: .7rem;
   font-weight: normal;
   color: var(--fabric-color-secondary);
   white-space: nowrap;
   max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
}

.cell {
   white-space: nowrap;
   max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: inherit;
   max-height: inherit;
   height: fit-content;
   gap: 4px;
   display: flex;
}

.image {
   width: 100%;

   max-width: 100%;
   max-height: 100%;
   overflow: hidden;
   border-radius: 3px;
}


.pulse {
   width: 100%;
   height: 100px;
   animation: pulseAnim 1.5s ease-in-out infinite;
   border-radius: 5px;
}

@keyframes pulseAnim {
   0% {
      background: var(--fabric-background-quaternary);
      opacity: .1;
   }
   50% {
      background: var(--fabric-background-quaternary);
      opacity: .5;
   }
   100% {
      background: var(--fabric-background-quaternary);
      opacity: .1;
   }
}

.overflow {
   overflow: hidden;
   max-width: 100%;
   text-overflow: ellipsis;
   white-space: nowrap;
}
