@import "../../../misc/theme/styles.module.css";

.selectBox{
    transition: visibility 150ms linear,opacity 150ms linear;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 999;


}