

.wrapper {
    display: grid;
    gap: 4px;
    position: relative;
    overflow: visible;
}


.selectContainer {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    transition: 150ms linear;
    background: var(--fabric-background-primary);
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}
.selectContainer:disabled {
    cursor: default;
    color: var(--fabric-color-quinary);
}

.dropDownContainer {
    display: grid;
}

.dropDownChoicesContainer {
    background-color: var(--fabric-background-primary);
    border-radius: 5px;
    box-shadow: var(--fabric-boxshadow);
    width: 100%;
    max-height: 200px;
    height: fit-content;
    overflow: auto;


   position: absolute;
   z-index: 50;
   bottom: 0;
   transform: translateY(calc(100% - 16px));
}

.dropDownButton {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 600;
    font-family: "Roboto";
    font-size: .75rem;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.multiSelectRow {
    display: flex;
    user-select: none;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    background: var(--fabric-background-primary);
    gap: 8px;
}

.multiSelectRowContent {
    user-select: none;
    color: var(--fabric-color-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: 600;
    font-family: "Roboto";
    font-size: .8rem;
}

.multiSelectRowCheckbox {
    cursor: pointer;
}
