

.wrapper {
    display: grid;
    gap: 4px;
    position: relative;
    overflow: visible;
}


.selectContainer {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    transition: 150ms linear;
    background: var(--fabric-background-primary);
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}
.selectContainer:disabled {
    cursor: default;
    color: var(--fabric-color-quaternary);
}


.dropDownChoicesContainer {
    background-color: var(--fabric-background-primary);
    border-radius: 5px;
    box-shadow: var(--fabric-boxshadow);
    width: 270px;
    max-height: 200px;
    height: fit-content;
    overflow: auto;


}

.dropDownButton {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 550;
    font-size: .75rem;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
