.container {
  user-select: none;
  height: auto;
  min-height: 15px;
  width: fit-content;
  max-width: 300px;
  opacity: 0;
  animation: show 150ms ease forwards;
  animation-delay: 250ms;
  box-shadow: rgb(0 0 0 / 20%) 0 0 2px 2px;
  position: fixed !important;
  z-index: 999 !important;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content {
  padding: 4px 8px;
  border-radius: 5px;
  background: rgb(38 38 38 / 100%);
  color: white;
  font-size: 0.8rem;
  font-weight: 550;
  text-align: center;
}
