@import "../../../misc/theme/styles.module.css";


.wrapper {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;


}

.header {
    background-color: var(--mfc-background-primary);
    height: fit-content;
    display: grid;
    gap: 4px;

    padding-top: 8px;
    /*border-bottom: var(--mfc-border-primary) 1px solid;*/
    transition: 150ms ease-in;
}

.tabs {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
