.wrapper {

  width: 100%;
  display: flex;

  justify-content: flex-start;

  gap: 8px;
}

.column {
  display: grid;
  align-content: flex-start;
  align-items: flex-start;


  width: 100%;
  gap: 8px;
}


.title {
  font-size: 1.2rem;
  color: var(--fabric-color-secondary);
  font-weight: 600;

  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px;
  white-space: nowrap;
}

