@import "../../../misc/theme/styles.module.css";


.wrapper {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-flow: column;
    background-color: var(--background-1);

}

.header {
    /*border-bottom: var(--border-0) 1px solid;*/

    height: fit-content;
    display: grid;
    gap: 16px;
    padding: 8px 0;
    transition: 150ms linear;
}

.tabs {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.content{
    background: var(--background-base);
}