@import "../../../misc/theme/styles.module.css";


.wrapper {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;

    display: flex;
    flex-flow: column;
    background-color: var(--background-1);
}

.header {

    height: fit-content;
    display: grid;
    gap: 16px;
    padding: 8px 0;
    transition: 150ms linear;
}

.tabs {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.children {
    overflow: hidden;
    border: var(--border-0) 1px solid;
    background: var(--background-base);
    border-radius: 8px 8px 0 0;
    height: 100%;
    width: 100%;
}