@import "../../../misc/theme/styles.module.css";

.content {
    flex-grow: 1;
}

.wrapper {
    flex-grow: 1;

    overflow: hidden;
    max-height: 100%;
    height: 100%;
    position: relative;
    width: 100%;

    display: flex;

    padding: 8px;
}


.header {
    background-color: var(--mfc-background-primary);
    border-radius: 5px;

    flex-grow: 1;
    width: 25%;
    max-width: 250px;

    display: grid;
    gap: 24px;


    transition: 150ms linear;
    height: 100%;
}

.tabs {

    overflow: hidden;

    width: 100%;
    padding: 4px;
}

.button {

    padding: 12px 24px;

    max-width: 100%;
    width: 100%;


    font-weight: 600;
    font-family: "Roboto";
    font-size: .75rem;
    text-rendering: optimizeLegibility;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.color {
    color: var(--mfc-color-quaternary)
}

.color:hover, .color:active, .highlight {
    color: var(--color)
}

.rowLabel {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: "Roboto";
    color: var(--mfc-color-secondary);
    font-size: .8rem;
    padding: 4px 0 4px 16px;
    margin-top: 8px;
}

.overflow {
    max-width: 100%;

    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}