@import '../../../../../misc/theme/styles.module.css';


.profileButton {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 8px;
    height: auto;
    padding: 8px;

    width: 100%;
    font-size: .75rem;
    font-weight: 600;
}

.buttonLabel {
    margin-left: 8px;
    overflow: hidden;
}

.buttonContainer {
    min-width: 150px;
    max-width: 250px;

    width: auto;
    display: flex;
    align-items: center;
    align-content: center;

    gap: 8px;
    height: 100%;
    padding: 8px;

}

.appsContainer {
    position: relative;
    height: 100%;
}

.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.floatingBox {


    position: absolute;
    transform: translateY(16px);
    right: 0;
    height: auto;

    width: 250px;

    background: var(--mfc-background-primary);
    box-shadow: var(--mfc-box-shadow-primary) 0 2px 8px 0px;


    border-radius: 5px;
}


.divider{
    height: 1px;
    width: 100%;
    background: var(--mfc-border-primary);

}