@import '../../../../../misc/theme/styles.module.css';

.buttonLabel {
    margin-left: 8px;
    font-size: .8rem;
    overflow: hidden;
    color: var(--color-1);
    font-weight: 600;
    font-family: "Roboto";
}

.buttonContainer {
    min-width: 150px;
    max-width: 250px;

    width: auto;
    display: flex;
    align-items: center;
    align-content: center;

    gap: 8px;
    height: 100%;
    padding: 8px;

}

.appsContainer {
    position: relative;
    height: 100%;
}

.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.floatingBox {


    position: absolute;
    transform: translateY(16px);
    right: 0;
    height: auto;

    width: 180px;

    background: var(--background-1);
    box-shadow: var(--box-shadow-1) 0 2px 8px 0px;


    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 8px;
}

