
.wrapper {

    background: var(--mfc-background-primary);
    border-radius: 5px;
    border: var(--mfc-border-primary) 1px solid;

    display: flex;
    flex-flow: row wrap;
    column-gap: 32px;
    row-gap: 8px;
    width: 100%;
    overflow: visible;

    padding: 10px;
}

.legendContent {
    user-select: none;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.legend {

    padding-right: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--mfc-color-tertiary);
    padding-left: 0;
}


.indicator {
    --color: #0095ff;
    width: 2px;
    height: 100%;
    border-radius: 10px;

    background: var(--color);
}

.notCompleted {
    --color: #ff5555;
}