@import "../../../misc/theme/styles.module.css";

.container {
    flex-grow: 1;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

.headerContainer {
    position: sticky;
    font-family: "Roboto";
    top: 0;
    z-index: 50;
    background: var(--background-1);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-bottom: var(--border-0) 1px solid;
}

.buttonContainer {
    height: 100%;

    outline: none;
    box-shadow: none;
    background: transparent;
    border-radius: 8px;
    border: none;
    transition: 150ms ease-in-out;
    padding: 4px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    color: var(--color-1);
}


.header {
    padding: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 600;

    color: var(--color-1);
}

.submitContainer {
    height: 46px;

    border-radius: 5px;
    bottom: 0;
    border: var(--border-0) 1px solid;
    padding: 8px;
    z-index: 50;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.saveButton {
    text-align: center;
    width: 100%;
}

.saveButton:disabled {
    border: var(--border-0) 1px solid;
}