@import "../../../misc/theme/styles.module.css";

.wrapper {
    flex-grow: 1;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

.buttonContainer {
    height: 100%;

    border-radius: 5px;
    transition: 150ms ease-in-out;
    padding: 4px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}


.header {

    box-shadow: var(--box-shadow-1) 0 0 2px 1px;
    position: sticky;
    font-family: "Roboto";
    top: 0;
    z-index: 50;
    background: var(--background-1);
    height: 75px;

    display: grid;
    gap: 4px;

    border-bottom: var(--border-0) 1px solid;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;

    color: var(--color-1);
    margin-bottom: 16px;
}

.headerContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
