@import '../../../../../misc/theme/styles.module.css';

.appLabel{
    font-size: .8rem;
    font-weight: bold;
    font-family: "Roboto";
    color: var(--mfc-color-secondary);
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.appButton{
    outline: none;
    width: calc(33.333% - 6px);
    height: 60px;

    background: var(--mfc-background-primary);
    border-radius: 5px;
    color: var(--mfc-color-tertiary);
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 4px;
    padding: 8px;

    transition: 150ms linear;

    cursor: pointer;

}


.appsWrapper{
    transform: translate(50%, 16px);
    right: 50%;
    position: absolute;
    z-index: 999;
    height: auto;

    width: 250px;

    background: var(--mfc-background-primary);
    box-shadow: var(--mfc-box-shadow-primary) 0px 2px 8px 0px;
    padding: 8px;

    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 8px;
}
.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.appsContainer {
    position: relative;
    height: 100%;

}
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 225px;
    height: 100%;

    padding: 8px;
}
