@import '../../../misc/theme/styles.module.css';

.wrapper {
    overflow: hidden;
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: 300;
    transition: 200ms ease-in;
    bottom: 0;
}


.modalContainer {
    width: 100%;
    height: 100%;
}

.fadeIn {
    animation: fadeInAnim ease-in 200ms forwards;
}

.fadeOutAnimation {
    animation: fadeOut ease-in 200ms;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slideLeftEnter {
    animation: slideLeftEnterAnim ease-in 200ms;
}

.slideLeftExit {
    animation: slideLeftExitAnim ease-in 200ms;
}

.slideRightEnter {
    animation: slideRightEnterAnim ease-in 200ms;
}

.slideRightExit {
    animation: slideRightExitAnim ease-in 200ms;
}

@keyframes slideLeftEnterAnim {
    0% {
        transform: translateX(-100%);

    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeftExitAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRightEnterAnim {
    0% {
        transform: translateX(100%);

    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRightExitAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
.background{
    background-color: var(--mfc-background-primary);
}