

.wrapper {
  position: relative;

}

.buttons {
  width: 200px;
  border-radius: 3px;
  background: var(--fabric-background-primary);
  height: auto;
  box-shadow: var(--fabric-boxshadow);

  overflow-x: hidden;
  overflow-y: auto;
  max-height: clamp(250px, 10vh, 300px);

  display: grid;
  transition: 150ms ease;
}

.iconSpace {
  min-width: 25px;
  max-width: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

}

.button {
  max-width: 100%;
  width: 100%;

  overflow: hidden;
  outline: none;
  border: none;
  padding: 8px !important;
  text-align: left;
  background: transparent;

  transition: 150ms linear;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;

  font-size: .75rem;
  font-weight: 550;
  height: 25px;
}
.button:disabled{
   background: transparent;
   color: #999999;

}
.button:hover {
  background-color: rgba(0, 149, 255, .5);
  color: var(--fabric-color-secondary);
}

.buttonLabel {
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  width: 100%;
}

.shortcut {
  font-weight: normal;
  width: fit-content;
  white-space: nowrap;

  color: var(--fabric-color-tertiary);
}

.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
