@import "../../../misc/theme/styles.module.css";

.wrapper {
    height: 100%;
    width: clamp(250px, 25%, 500px);
    background: var(--background-1);
    margin-left: auto;
    border-radius: 8px 0 0 8px;
    box-shadow: var(--box-shadow-1) 0 0 2px 1px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
}

.header {
    font-family: "Roboto";

    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    color: var(--color-0);
}

.row {
    overflow: hidden;
    outline: none;

    width: 100%;
    max-width: 100%;

    padding: 4px;
    height: 50px;

    display: flex;
    align-items: center;
    cursor: pointer;

}

.overflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.rowColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    gap: 4px;
}

.columnLabel {
    font-size: .75rem;
    color: var(--color-3);
}

.rows {
    position: relative;
    display: grid;
    align-content: flex-start;
    gap: 8px;
    overflow-y: auto;
    height: 100%;
    /*padding-top: 16px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 100%;
    /*gap: 4px;*/
}

.hoveredRow {
    background: var(--background-3);
    border-color: #0095ff;
    border-style: solid;
}



.emptyRow {
    color: var(--color-4);
}

.divider {
    height: 1px;
    width: 100%;
    background: var(--border-1);
}

.headerButton {
    height: 30px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-1);
}


.headerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainRow{
    background: var(--background-2);
}