.wrapper{
    --y: 0;
    --x: 0;

    --accent-color: #0095ff;

    --opacity: .15;
    --size: 16px;
    position: absolute;
    top: 0;
    left: 0;

}

.content {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0;
    background: var(--accent-color);
    transform: translate(-50%, -50%);

    left: var(--x);
    top: var(--y);
}
.exit {
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    animation: exit 150ms linear;
}

@keyframes exit {
    0% {
        opacity: var(--opacity);

    }
    100% {
        opacity: 0;
    }
}

.ripple {
    animation: rippleAnim 500ms ease-in forwards;
}

@keyframes rippleAnim {
    0% {
        opacity: 0;
        width: 16px;
        height: 16px;
    }
    100% {
        opacity: var(--opacity);
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
    }
}