
.enterA {
    animation: enter 150ms ease-in-out;
}

.exitA {
    animation: exit 150ms ease-in-out;
}

@keyframes exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

