.row {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0;
    background: var(--background-1);
    border-radius: 5px 0 0 5px;

}

.row:hover {
    padding-left: 2px;

}

.cell {
    padding: 4px 2px;
    color: inherit;
    display: flex;
    align-items: center;
    height: 100%;
}

.cell:hover {
    padding-left: 4px;
}

.overflow {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerRow {
    border: transparent 1px solid;
    position: sticky;
    top: 0;
    z-index: 50;

    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 150ms linear;
    border-radius: 5px;

}

.scrolledHeader {
    border-color: var(--border-0);
    background: var(--background-1);
}


.mainButton {
    border: none;
    background: var(--background-1);
    border-radius: 0 5px 5px 0;
    padding: 4px;
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 50%;
    width: 1px;
    background: var(--border-0);
}