.light {
   --fabric-accent-color: #0095ff;
    --fabric-background-primary: white;
    --fabric-background-secondary: #f4f5fa;
    --fabric-background-tertiary: #f3f6f9;
    --fabric-background-quaternary: #E8F0FE;

    --fabric-border-primary: #F1F1F5;
    --fabric-border-secondary: #e0e0e0;

    --fabric-color-primary: #333333;
    --fabric-color-secondary: #555555;
    --fabric-color-tertiary: #666666;
    --fabric-color-quaternary: #777777;
    --fabric-color-quinary: #999999;
    --fabric-color-senary: white;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   --fabric-boxshadow: rgba(0, 0, 0, .1) 2px 4px 10px 2px;
}

.dark {
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   --fabric-accent-color: #0095ff;
    --fabric-background-primary: #303030;
    --fabric-background-secondary: #2b2b2b;
    --fabric-background-tertiary: #282828;
    --fabric-background-quaternary: #111111;

    --fabric-border-primary: #3F3F3F;
    --fabric-border-secondary: #707070;

    --fabric-color-primary: #F7F7F7;
    --fabric-color-secondary: #f5f5f5;
    --fabric-color-tertiary: #f3f3f3;
    --fabric-color-quaternary: #eeeeee;
    --fabric-color-quinary: #eaeaea;
    --fabric-color-senary: #e0e0e0;

   --fabric-boxshadow: rgba(0, 0, 0, .2) 2px 4px 10px 2px;

}

