.buttonContainer {

   display: flex;
   align-items: center;
   justify-content: center;

   height: 100%;

   width: 35px;
   padding: 4px !important;

}


.container {
   height: 100px;
   display: grid;
   gap: 4px;

}

.divider {
   width: 1px;
   height: 20px;
   background: var(--fabric-border-secondary);
}

.calendar {
   width: 100%;

   max-height: unset !important;
   max-width: unset !important;

   background: var(--fabric-background-tertiary);
   border-radius: 5px;
   box-shadow: var(--fabric-boxshadow);

   overflow-y: auto;
   overflow-x: hidden;

   display: grid;
   justify-content: center;
   justify-items: center;

}
.wrapper{
   width: 270px !important;
   height: 220px !important;
   max-height: unset !important;
   max-width: unset !important;
   overflow: hidden;

}

.monthContainer {
   position: sticky;
   border-bottom: var(--fabric-border-primary) 1px solid;
   top: 0;
   background: var(--fabric-background-primary);
   z-index: 10;
   user-select: none;
   transition: 150ms linear;
   padding: 0 4px;
   color: var(--fabric-color-secondary);
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 25px !important;
}


.daysContainer {
   display: grid;
   gap: 6px;
   grid-template-columns: repeat(7, 1fr);
   justify-items: center;
   width: 100%;
   padding: 4px;
   overflow: auto;
}

.dayContainer {
   height: 30px;
   width: 30px;
   padding: 0 !important;
   background: var(--fabric-background-primary);
   display: flex;
   align-items: center;
   justify-content: center;
   justify-items: center;
   text-align: center;
   font-size: .8rem;
   font-weight: 550;
   color: var(--fabric-color-tertiary);
}

.currentDate {
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: .8rem;
   font-weight: normal;
   color: var(--fabric-color-tertiary);
}


.button {
   padding: 2px !important;
   width: 25px;
   height: 25px;

   display: flex;
   align-items: center;
   justify-content: center;

}
