
.fieldsContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   height: 56px;
   border-radius: 5px;
   border: var(--fabric-border-primary) 1px solid;
   color: var(--fabric-color-tertiary);
   background: var(--fabric-background-primary);
   position: relative;
   overflow: hidden;

   --delay: 0;
}

.fieldsContainer:hover {
   --delay: 500ms;
}

.fieldsContainer::after {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: var(--color);
   opacity: 0;
   transition: 150ms linear var(--delay);
}

.fieldsContainer:disabled::after {
   content: none;
}

.fieldsContainer:focus-within::after, .fieldsContainer:focus-within::after {
   opacity: .15;
}


.inputContainer {
   text-align: center;
   border: none;
   box-shadow: unset;

   background: var(--fabric-background-primary);
   font-family: "Roboto";
   height: 100%;
   width: 30px;
   outline: none;
   font-size: 1rem;

   color: var(--fabric-color-secondary);
}

.inputContainer::-webkit-outer-spin-button,
.inputContainer::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
.inputContainer[type=number] {
   -moz-appearance: textfield;
}

.buttonContainer {

   display: flex;
   align-items: center;
   justify-content: center;

   height: 25px;

   width: 35px;
   padding: 4px !important;

}


.container {
   height: 100px;
   display: grid;
   gap: 4px;

}

.divider {
   width: 1px;
   height: 20px;
   background: var(--fabric-border-secondary);
}

.calendar {
   width: 350px;

   background: var(--fabric-background-primary);
   border-radius: 5px;
   box-shadow: var(--fabric-boxshadow);
   height: 223px;
   overflow-y: auto;

   position: absolute;
   bottom: 0;
   z-index: 999;
   transform: translateY(calc(100% + 4px));
}

.monthContainer {
   position: sticky;
   border-bottom: var(--fabric-border-primary) 1px solid;
   top: 0;
   background: var(--fabric-background-primary);
   z-index: 10;
   font-family: "Roboto";
   height: 35px;
   user-select: none;

   transition: 150ms linear;

   padding: 8px 4px;
   color: var(--fabric-color-secondary);
   width: 100%;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.activeContainer {
   background: var(--fabric-background-quaternary);
   color: var(--fabric-accent-color);
}

.daysContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 7.45px;
   width: 100%;
   padding: 8px;
   overflow: auto;
}

.dayContainer {
   height: 35px;
   width: 35px;
   background: var(--fabric-background-primary);

   display: flex;
   align-items: center;
   justify-content: center;

   text-align: center;

   font-size: .85rem;
   font-weight: bold;
   font-family: "Roboto";
   color: var(--fabric-color-tertiary);
   border-radius: 8px;
   border: transparent 2px solid;

   cursor: pointer;
   transition: 150ms linear;
}

.dayContainer:hover {
   color: var(--fabric-accent-color);
   border: rgba(0, 149, 255, .5) 2px solid;
}

.dayContainer:active {
   background: var(--fabric-background-quaternary);

   color: var(--fabric-accent-color);
   border: rgba(0, 149, 255, .5) 2px solid;
}

.currentDate {
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: .8rem;
   font-weight: normal;
   color: var(--fabric-color-tertiary);
}


.errorWrapper {
   display: flex;
   align-items: center;
   gap: 4px;
   font-size: .7rem;
   color: red;

   margin-top: 2px;
}
