@import '../../../misc/theme/styles.module.css';


.wrapper {
    background: var(--mfc-background-primary);
    border-radius: 5px;
}

.dropdownLabel {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 10px;

    /*font-size: .9rem;*/
    font-family: "Roboto";
}

.header {

    position: relative;

    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    font-family: "Roboto";
    font-size: 1.2rem;

    font-weight: 600;
    color: var(--mfc-color-secondary);

}

.filter {
    user-select: none;
    outline: none;
    background-color: #0095ff;
    color: white;
    border: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border-radius: 5px;

    height: 30px;
    width: fit-content;
    cursor: pointer;

    transition: 150ms linear;
}

.filter:hover {
    opacity: .9;
}

.filter:active {
    opacity: .7;
    box-shadow: none;
}


.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.fieldWrapper {
    display: grid;
    gap: 16px;

}

.selectWrapper {
    display: flex;
    gap: 8px;
    font-size: .9rem;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.button {

    height: 30px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}