.row {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0;
    background: var(--mfc-background-primary);
    border-radius: 5px 0 0 5px;

}


.cell {
    background: var(--mfc-background-primary);
    padding: 0 8px;
    color: inherit;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}


.overflow {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerRow {
    /*border: var(--mfc-border-primary) 1px solid;*/
    position: sticky;
    top: 0;
    z-index: 50;

    height: 30px;
    display: flex;
    align-items: center;

    width: 100%;
    transition: 150ms linear;

}

.scrolledHeader {
    box-shadow: var(--mfc-box-shadow-primary) 0 0 1px 1px;
}


.mainButton {
    border-left: var(--mfc-border-primary) 1px solid;
    background: var(--mfc-background-primary);
    border-radius: 0 5px 5px 0;
    padding: 4px;
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 50%;
    width: 1px;
    background: var(--mfc-border-secondary);
}