
.wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8px;
    border-radius: 5px;
    background: var(--fabric-background-primary);
    width: 100%;
    padding: 8px;

    overflow: hidden;
}

.crumbWrapper {
    display: flex;
    align-items: center;

}
