.fieldsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;
    overflow-x: visible;
}


.inputContainer {
    background: transparent;

    border-radius: 5px;
    border: var(--mfc-border-primary) 1px solid;
    box-shadow: unset;
    transition: 150ms ease-in;

    width: 100%;
    font-family: "Roboto";

    outline: none;
    padding: 5px;
    font-size: 1rem;

    color: var(--mfc-color-secondary);
}

.inputContainer::-webkit-outer-spin-button,
.inputContainer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.inputContainer[type=number] {
    -moz-appearance: textfield;
}

.inputContainer:hover, .inputContainer:focus {
    color: var(--mfc-color-primary);
    border-color: var(--accent_color);
}

.inputContainer:disabled {
    border: var(--mfc-border-primary) 1px solid;
    /*background: var(--mfc-background-secondary);*/
    color: var(--mfc-color-quinary);
}

.mask {
    z-index: 5;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    color: var(--mfc-color-secondary);
    font-family: "Roboto";
    font-size: .95rem;

    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.focus {
    background: var(--mfc-background-primary);
    position: relative;
    overflow: hidden;

}

.focus::before {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:var(--accent_color);
    opacity: 0;
}

.focus:focus::before, .focus:focus-within::before {
    animation: fadeIn 150ms linear forwards 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .15;
    }
}

/*.textArea:hover, .textArea:focus{*/
/*    border-color: transparent;*/
/*}*/