.button {
    border-radius: 5px;
    outline: none;
    background: unset;
    border: none;
    font-size: .8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    --color: #0095ff;
    --darker-color: #0080DB;
    padding: 8px 16px;
    text-align: center;
    color: var(--color-1);

    overflow: hidden;
    position: relative;
}

.button:disabled {
    cursor: unset;
}

.secondaryVariant {
    --darker-color: #FF2626;
    --color: #ff5555
}


/*MINIMAL*/
.minimal {

    position: relative;
    background: transparent;

    transition: 150ms ease-in;
}

.button.minimal::before {
    content: '';
    position: absolute;

    transition: 150ms ease-in;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 16px;
    background: var(--color);
    height: 3px;
    width: 50%;
    opacity: 0;
}

.minimal:hover::before, .minimalHighlight.minimal::before {
    opacity: 1;
}


.minimal:hover, .minimalHighlight{
    color: var(--color);
}
.minimal:disabled::before {
    content: none;
}
.minimal:disabled {
    color: var(--color-3);
}

/*MINIMAL*/


/*FILLED*/
.filled {
    transition: 150ms ease-in;
    color: white;
}

.filled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    opacity: .85;
}

.filled:hover {
    opacity: 1;
}
.filledHighlight {
    opacity: 1;
}
.filled:active {
    box-shadow: none;
}

.filled:disabled::before {
    content: none;
}

.filled:disabled {
    color: var(--color-3);
    box-shadow: none;
}

/*FILLED*/


/*OUTLINED*/
.outlined {

    position: relative;
    background: transparent;
    border: var(--border-1) 1px solid;
    transition: 150ms ease-in;
}
.default{
    border: none;
}
.outlined:hover {
    color: var(--color);
}

.outlined:active, .outlinedHighlight {
    color: var(--color);
    border-color: var(--color);
}

.outlined:disabled {
    border-color: transparent;
    color: var(--color-3);
    background: transparent;
}

/*OUTLINED*/