.wrapper {
   display: flex;
   gap: 4px;

}

.content {
   display: grid;
   width: 100%;
}

.wrapper[data-variant = 'horizontal'] {
   display: grid;
}

.wrapper[data-variant = 'horizontal'] .content {
   display: flex;
}

.wrapper[data-variant = 'horizontal'] .column {
   height: 5px;
   background: var(--fabric-accent-color);
   width: 100%;
   border-radius: 5px;
}

.column {
   min-width: 3px;
   background: var(--fabric-accent-color);
   border-radius: 5px;
}


.filler {
   height: 150px;
}
