.wrapper{
   color: var(--fabric-color-secondary);
   min-width: 150px;
   min-height: 75px;
   background: var(--fabric-background-secondary);
   /*box-shadow: var(--fabric-boxshadow);*/
   border: var(--fabric-border-primary) 1px solid;
   border-radius: 5px;
   padding: 8px;
   transition: 150ms ease;
}

.wrapper:hover{
   border-color: var(--fabric-accent-color);
}
.wrapper[data-clickable = 'true']{
   cursor: pointer;

}
.wrapper[data-clickable = 'true']:hover{
 box-shadow: var(--fabric-boxshadow);
}
.wrapper[data-clickable = 'true']:active{
   box-shadow: none;
   transform: scale(.975);
   opacity: .9;
}
