.wrapper{
   color: var(--fabric-color-secondary);
   background: var(--fabric-border-primary);

   border-radius: 5px;
   padding: 8px;
   transition: 150ms linear;

   box-shadow: rgb(0,0,0,.1) 0 2px 10px 2px;
}
