
.button {
    font-family: "Roboto";

    position: relative;
    z-index: 10;

    display: flex;


    justify-content: space-between;
    align-items: center;
    border: var(--border-0) 1px solid;

    box-shadow: unset;
    transition: 250ms linear;
    background: var(--background-1);
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    color: var(--color-1);
    cursor: pointer;
    border-radius: 5px;

    max-width: 100%;
    overflow: hidden;
}

.button:hover {
    border-color: #0095ff;

}


.button:disabled {
    cursor: unset;
    box-shadow: none;
    border: var(--border-1) 1px solid;
    background: var(--background-1);
}