
.wrapper {
    --accent_color: #0095ff;
    position: relative;
    transition: 150ms linear;
    height: fit-content;
}

.secondaryVariant {
    --accent_color: #ff5555;
}

.wrapper input {
    position: relative;
    z-index: 1;
}

.wrapper::after {
    content: '';
    transition: 150ms linear;
    position: absolute;

    z-index: 0;

    top: -1px;
    left: -1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);

    border: transparent 2px solid;
    border-radius: 5px;
}

.wrapper:hover::after, .wrapper:focus-within::after, .wrapper[highlight]::after {
    border-color: var(--accent_color);
}

.wrapper[disabled]::after, .wrapper:disabled::after {
    border-color: transparent;
}


.labelContainer {
    transition: visibility 150ms linear, opacity 150ms linear;

    color: var(--mfc-color-secondary);
    /*font-weight: 600;*/
    font-size: .8rem;
    margin-top: auto;
    user-select: none;
    font-family: "Roboto";
    text-transform: capitalize;

    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
    overflow: hidden;

}

.alertLabel {
    color: var(--mfc-color-quaternary);
    font-family: "Roboto";
    margin-left: auto;
    font-size: .75rem;
    user-select: none;

}